body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #131921;

}

/* colors */

.bg-color {
    background-color: #131921;
}

.text-style {
    color: #bbb;
}



.contact-color {
    color: #ff004f;
}

/* marvel single img */

.my-img {
    background-image: url('./img/Marvel/ab.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 385px;
    width: 100%;
}

.inner-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-hover {

    border: 1px solid #bbb;
}

/* navbar items hover */

li a {
    text-decoration: none;
    color: #bbb;
    font-weight: 700;
    font-size: large;
    margin-right: 20px;
    display: inline-block;
    transition: border ease-in 0.2s;
    position: relative;
}


li a::after {
    content: '';
    width: 0%;
    height: 4px;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    top: 21px;
    transition: 0.5s;
}

li a:hover {
    color: #fff;
}

li a:hover::after {


    width: 100%;
}

/* footer */


.footer-bg {
    background-color: #151515;

}

/* .h-container{
    height: 350px;
} */

.footinner {
    margin-top: 50px;
}

.foot-a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: medium;
}

.foot-a:hover {
    text-decoration: underline;
}

.foot-icon {

    font-size: xx-large;
    color: #bbb;
    margin-right: 17px;
    margin-top: 10px;

}